#restrict-size {
   padding: 10px;
   margin: 10px;
   background-color: chartreuse;
   border: 3px dotted red;
}



body {
    background-image: url('https://th.bing.com/th/id/OIP.4ALKYFa7ICqj3SVBHCeUSAHaEK?w=314&h=180&c=7&r=0&o=7&pid=1.7&rm=3');
    background-size: cover;
    background-repeat: no-repeat;
}